html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    color: black;
    background-color: white;
    font-family: Roboto;
    font-size: 18px;
    margin: 0;
}

.container {
    width: 100%;
    padding: 15px 280px 15px 280px;
    margin-left: auto;
    margin-right: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

.table-text {
    padding: 10px 10px 10px 55px;
}

.table-image {
    padding: 10px;
    vertical-align: top;
}

.box-image {
    display: flex;
    justify-content: center;
}

.section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-title {
    text-align: center;
    margin-bottom: 35px;

    font-size: 30px;
}

.sub-text {
    font-weight: 700;
}

.sub-title {
    margin-bottom: 35px;

    font-size: 25px;
}

.sub-title_position {
    text-align: center;
}

.text-bold {
    font-size: 20px;
    font-weight: 700;
}

.additional-margin {
    margin-bottom: 45px;
}

.unnum-list {
    margin-bottom: 30px;
}

.num-list {
    padding-left: 60px;
}

.link {
    margin-left: 15px;
}

.img {
    float: left;

    margin-bottom: 15px;
}

.text {
    margin-bottom: 20px;
}
