html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    color: black;
    background-color: white;
    font-family: Roboto;
    margin: 0;
}

.container {
    width: 100%;
    padding: 25px 15px 25px 15px;
    margin-left: auto;
    margin-right: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    /* vertical-align: top; */
}
