html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    margin: 0;
}

/* li {
    list-style: none;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    color: black;
    background-color: white;
    font-family: Roboto;
    font-size: 16px;
    margin: 0;
}

.container {
    width: 100%;
    /* padding-left: 45px;
    padding-right: 45px; */
    padding: 15px 200px 15px 200px;
    margin-left: auto;
    margin-right: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    /* padding-top: 10px;
    padding-left: 55px; */
    padding: 10px 10px 10px 55px;
}

.section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-title {
    text-align: center;
    margin-bottom: 35px;

    font-size: 30px;
}

.sub-text {
    font-weight: 700;
}

.sub-title {
    margin-bottom: 35px;

    font-size: 25px;
}

.sub-title_position {
    text-align: center;
}

.text-bold {
    font-size: 20px;
    font-weight: 700;
}

/* .num-list-item {
    list-style-type: disc;
} */

.img {
    float: left;
}

.text {
    margin-bottom: 20px;
}
